.footer {
  position: fixed;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  /* right: 2%; */
}

.bottom-panel {
  height: 7rem;
  background-color: rgb(223, 133, 167);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: -.7rem -1rem;
}

.panel {
  flex: 0 0 25%;
  color: #2c4b94;
  /* &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
  } */
  &__notification {
    font-size: 1.3rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 90%;
    background-color: rgb(100, 170, 34);
    color: rgb(244, 215, 213);
    position: absolute;
    margin-left: -.25rem;
    font-weight: bold;
  }
}

.panel__button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: rgb(223, 133, 167);
}

.cart {
  font-size: 1.7rem;
  font-weight: bold;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.5);
}

.full-height {
  height: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  padding: 25px;
}

.modal h1 {
  color: #222;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
}

.modal p {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.fade-two-enter-active,
.fade-two-leave-active {
  transition: opacity .5s;
}

.fade-two-enter,
.fade-two-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform .5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%) translateX(100vw);
}

.input {
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.5rem;
  line-height: 1.5;
  vertical-align: top;
}

.modal__header {
  margin-bottom: 2rem;
}

.modal__lable {
  font-size: 1.5rem;
}

.modal__button {
  margin-top: 3rem;
  width: 12rem;
  margin-right: 1rem;
}